@using Blazor.UI.BottomSheet.Components.Snackbar
@inherits LayoutComponentBase

<main class="flex flex-col min-h-screen">
    <div>
        @Body
    </div>
    
</main>


<UISnackbarProvider />
<UIBottomSheetProvider />

